#Database configuration
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


#JWT configuration
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_HOURS=


# AI Configuration
PROXYAPI_KEY=
PROXYAPI_BASE_URL=
AI_MODEL=

# Email configuration
EMAIL_ADDRESS=
EMAIL_PASSWORD=

#fastapi and frontend configuration
API_BASE_PORT=
FRONTEND_URL=
FRONTEND_RESET_PASSWORD_PATH=/reset-password
CORS_ALLOW_ORIGINS=
SERVER_BASE_URL=
UPLOADS_DIR=uploads
UPLOADS_URL_PREFIX=
ENVIRONMENT=
